* {
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-family: "Oswald", sans-serif;

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* MENU */
header {
    background-color: #021639;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
.nav-link:hover {
    color: #0E21A1;
    border-bottom: 2px solid white;
    border-radius: 2px;
}

.perfil{
    display: flex;
    justify-content: flex-end;
    margin-left: 70px;
    font-size: 1.15rem;
}
.perfil a{
    text-decoration: none;
}
.perfil p:hover{
    color: #0E21A1;
}

.perfil p {
    margin-top: 20px;
    margin-left: 100px;
    color: white;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* corpo da página */

.item{
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    position: relative;
}
#balaodefala{
    width: 600px;
    height: 400px;
    margin-left: 350px;
}
  
#container figcaption {
    width: 240px;
    position: absolute;

    top: 35px;
    right: 30px;
    font-size: 20px;
    color: black;
}
#container #txt2 {
    width: 260px;
    position: absolute;

    top: 255px;
    right: 30px;
    font-size: 18px;
    color: black;
}


h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 900;
    line-height: 150%;
    background: linear-gradient(270deg, #021639 0%, #0E21A1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#filter {
    width: 90%; 
    height: 4.6rem;
    display: flex;
    margin-block: 6rem;
    margin-top: 10px;

    justify-content: center;
    align-items: center;
    border-radius: 0rem 0rem 0.4rem 0.4rem;
    border-bottom: 0.2rem #8e8c8c solid;

    .config {
      display: flex;
      align-items: end;
      gap: 3.2rem;
    }

    li {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      color: #021639;
      font-size: 2rem;
      font-weight: 600;
      line-height: 150%; /* 3.6rem */

      border-bottom: 5px solid transparent;
      padding-bottom: .35rem;
      cursor: pointer;

      &:hover {
        border-bottom: 5px solid #0E21A1;
      }
      &.active {
        border-bottom: 5px solid #0E21A1;
      }
    }
  }

#more-posts{
    margin-top: -60px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content:space-around;
}

#post1, #post2, #post3{
    box-shadow: 10px 15px 2px #021639;
    border: 3px solid #021639;
    border-radius: 20px;
    height: 497px;
    width: 313px;
}

.list-posts{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    padding-top: 0;
}

.list-posts span{
    width: 98px;
    height: 29px;

    background-color: #D4C5FF;
    color: #021639;
    border-radius: 10px;
    font-size: 14px;

    padding: 5px;
    text-align: center;
    display: inline-block;

    margin-bottom: 20px;
}

.list-posts h2{
    color: #021639;
    font-size: 24px;
}

.list-posts p {
    margin-top: 20px;

    font-size: 18px;
}

#saiba-mais {
    width: 160px;
    height: 40px;
    border-radius: 40px;
    background-color: #021639;

    text-align: center;   
    padding: 10px;
    margin-top: 15px;
}
#saiba-mais a {
    color: white;
    text-decoration: none;
}

/* footer da página */
footer{
    margin-top: 30px;
    max-height: 184px;
    width: 100%;
    background-color: #021639;
    text-align: center;
}

footer img{
    margin-top: 10px;
    margin-left: 16px;
}
footer ul{
    margin-top: 10px;
    font-size: 14px;
}

footer li {
    display: inline-block;
}
footer a {
    text-decoration: none;
    color: #fff;
}

#copyright img{
    margin: 0;
}

#copyright p{
    display: inline-block;
    color: #B7B4BF;
    font-size: 14px;
}
#copyright{
    margin-top: 10px;
}

/* responsividade */
@media screen and (max-width:1140px){
    #balaodefala{
        margin-left: 260px;
    }
    .img-post img{
        width: 270px;
    }
    #post1, #post2, #post3{
        height: 497px;
        width: 270px;
    }
    #post1{
        margin-left: 15px;
    }
    #post2, #post3{
        margin-left: 80px;
    }
      
}
@media screen and (max-width:1015px){
    h1{
        font-size: 40px;
    }
    #filter {
        margin-top: 1px;

        li {
          font-size: 23px;
        }
    }
    #post1, #post2, #post3{
        margin-left: 35px;
        margin-right: 15px;
    }
    #post2, #post3{
        margin-right: 15px;
    }
}
@media screen and (max-width:1012px){
    .nav-link{
        font-size: 1rem;
        text-align: center;
    }
    .nav-list {
        margin-left: 20px;
    } 
}
@media screen and (max-width:998px){
    .nav-link{
        font-size: 0.9rem;
        text-align: center;
    }
    .nav-item{
        margin: 0 5px;
        width: 70px;
    }
    .nav-list{
       margin-left: 80px;
    }
    #opS, #opA{
        width: 90px;
    }
    .perfil{
        margin-left: 20px;
    }
}
@media screen and (max-width:944px){
    .perfil{
        margin-left: -55px;
    }
}

@media screen and (max-width:975px) {
    #post1, #post2, #post3{
        margin-left: 5px;
        margin-right: 25px;
    }
   
}
@media screen and (max-width:918px) {
    #balaodefala{
        margin-left: 160px;
    }
    #filter {
        margin-top: -15px;
    }
    #post1, #post2, #post3{
        margin-left: 5px;
        margin-right: 15px;
    }
   
}

@media screen and (max-width:885px) {
    #balaodefala{
        margin-left: 160px;
    }
    #filter {
        margin-top: -15px;
    }
    #filter li{
        font-size: 20px;
    } 
    #post1, #post2, #post3{
        margin-left: 3px;
        margin-right: 6px;
    }
}
@media screen and (max-width:870px){
    .nav-item{
        width: 60px;
    }
    .nav-list{
        margin-left: 45px;
     }
    .perfil{
        margin-left: -75px;
    }
}
@media screen and (max-width:851px){
    #balaodefala{
        margin-left: 90px;
    }
    .img-post img{
        width: 280px;
    }
    #post1,#post2,#post3{
        height: 480px;
        width: 280px;
    }
   #more-posts{
    justify-content: center;
    align-items: center;
   }
   #post1,#post2{
    margin-left: 20px;
   }
   #post3{
    margin-top: 30px;
   }
}

@media screen and (max-width:821px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .perfil{
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

        justify-content: center;
        align-items: center;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .nav-link{
        font-size: 1.15rem;
    }
    .mobile-menu .nav-item {
        margin: 0 15px;
        width: 100%;
    }
    .mobile-menu .perfil {
        display: block;
        width: 20%;
        margin-top: 20px;
        margin-left: 70px;
    }
    .mobile-menu .perfil p{
        margin-top: -50px;
        font-size: 20px;
    }
    .mobile-menu #linha{
        margin: auto;
        margin-top: 30px;
        width: 90%;
        height: 5px;
        background-color: #0187a7;
    }
    .open {
        display: block;
    }
}
@media screen and (max-width:783px){
    #logo{
        margin-left: -100px;
    }
    #balaodefala{
        margin-left: 50px;
    }
    h1{
        font-size: 30px;
    }
    #filter{
        margin-top: -40px;
    }
    #filter li{
        font-size: 15px;
    }
}
@media screen and (max-width:667px){
    #balaodefala{
        margin-left: 10px;
        width: 420px;
        height: 220px;
    }
    #container figcaption {
        width: 160px;
        top: 15px;
        font-size: 14px;
    }
    #container #txt2 {
        width: 180px;
        position: absolute;
    
        top: 140px;
        right: 10px;
        font-size: 11.5px;
        color: black;
    }
    h1{
        font-size: 28px;
    }
    #filter li{
        font-size:12px;
    }
    .img-post img{
        width: 225px;
    }
    #post1,#post2,#post3{
        height: 420px;
        width: 230px;
    }
    .list-posts span{
        font-size: 10px;
    }
    
    .list-posts h2{
        font-size: 18px;
    }
    
    .list-posts p {
        font-size: 14px;
    }
}
@media screen and (max-width:526px){
    #post2{
        margin-top: 30px;
       }
}