*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container {
    display: inline-block;
    position: relative;
  }
  
  #container figcaption {
    width: 345px;
    position: absolute;

    top: 25px;
    right: 25px;
    font-size: 28px;
    color: black;
}
#balaodefala{
    max-height:480px;
    max-width: 600px;
}
.container {
    width: 100%;
    min-height: 500px;
    margin: 20px auto; 

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-around;
}

.item{
    flex: 1 2;
}

.container :nth-child(2) {
    align-self: center;
    padding: 10px;
}
#login{
    border-radius: 10px;
    background-color: #D4C5FF;
    width: 500px;
    height: 560px;
    padding: 10px;
    margin-left: 100px;
}


h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 150%;
    background: linear-gradient(270deg, #021639 0%, #0E21A1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.email, .senha{
    color: #021639;
    display: flex;
    flex-direction: column;
    /* // background-color: blue; */
    width: 100%;
    /* // justify-content: space-between; */

    label {
        font-size: 30px;
        font-weight: 600;
        padding: 0;
    }
    input {
        width: 100%;
        border: none;
        border-radius: 0;
        background-color: #D4C5FF;
        font-size: 20px;
        outline: none;
        border-bottom: 3px solid #868686;

    }
}

#esqsenha {
    display: flex;
    justify-content: flex-end;

        a {
            color: #1F3E74;
            text-decoration: underline;
            font-size: 20px;
        }
}

#entrar {
    border: none;
    width: 100%;
    height: 52px;

    background-color: #1F3E74;
    color: white;
    border-radius: 40px;

    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-top: 40px;

    cursor: pointer;
}

#cad {
    display: flex;
    justify-content: center;
    margin-top: 10px;
   

    p { 
        font-style: normal;
        font-weight: 400;
    }

    a {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline;
    }
}

#text{
    width: 28.7631rem;
    height: 15%;
    top:50px;
    left: 24rem;

    p {
        font-size: 1.6vh;
    }
}

@media screen and (max-width:1140px){
    #balaodefala{
        max-height:480px;
        max-width: 500px;
    }
    #container figcaption {
        width: 325px;
        top: 25px;
        right: -24px;
        font-size: 22px;
    }
    #login{
        width: 300px;
        height: 560px;
        margin-right: 50px;
    }
}
@media screen and (max-width:1060px){
    #login{
        width: 400px;
        margin-right: 80px;
    }
}
@media screen and (max-width:1041px){
    #login{
        width: 200px;
        margin-left: -30px;
    }
}
@media screen and (max-width:888px){
    #login{
        width: 300px;
    }
}
@media screen and (max-width:851px){
    #balaodefala{
        margin-left: -260px;
        max-height:280px;
        max-width: 400px;
    }
    #container figcaption {
        width: 240px;
        top: 15px;
        right: -14px;
        font-size: 16px;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #login{
        margin: auto;
        margin-top: 20px;
        width: 500px;
        height: 560px;
    }
    h1{
        font-size: 50px;
    }
    .email label, .senha label{
        font-size: 22px;
    }
    .email input, .senha input{
        font-size:16px;
    }
    #esqsenha a{
        font-size: 14px; ;
    }
    #entrar{
        font-size: 20px;
        height: 35px;
        margin-top: 20px;
    }
    #cad p, #cad p a{
        font-size: 15px;
    }
}
@media screen and (max-width:730px){
    #login{
        width: 400px;
        height: 560px;
    }  
}
@media screen and (max-width:655px){
    #balaodefala{
        margin-left: -100px;
    }
}
@media screen and (max-width:490px){
    #balaodefala{
        margin-left: -6px;
    }
}
